.e {width:30%; display:block;
float:left;
text-align:center;}
#a2 {text-align:center;}
i {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #fccc04;
    color: white;
}